.btnSeeMore {
   @apply flex w-[12.1rem] h-[3.755rem] gap-[0.2rem]  cursor-pointer;
   transition: all 0.5s ease-in-out;
   @screen laptop {
      width: calc(14.5rem * var(--scale));
      height: calc(4.5rem * var(--scale));
   }
}
.span-seeMore {
   @apply w-[0.25rem] h-full bg-browns;
   @screen laptop {
      width: calc(0.3rem * var(--scale));
   }
}
.btns-seeMore {
   @apply w-[11.707rem] h-full bg-browns text-withes;
   @screen laptop {
      width: calc(14rem * var(--scale));
   }
}

.btn-seeMore {
   @apply text-[1.5rem]  text-withes font-medium hover:text-withes;
   @screen laptop {
      font-size: calc(1.8rem * var(--scale));
   }
}
.btnSeeMore:hover .span-seeMore {
   @apply bg-green;
   transition: all 0.5s ease-in-out;
}

.btnSeeMore:hover .btns-seeMore {
   @apply bg-green;
   transition: all 0.5s ease-in-out;
}
